.menu-container {
    background-color: #515050;
    color: white;
    display: flex;
    justify-content: end;
    padding: 0px;
}

.menu-container div {
    margin: 2px 2px 0 2px;
}

.login-tab {
    display: flex;
}

.login-tab span {
    margin-left: 8px;
}